.AddOperationForm {

  h3 {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;

    p {
      margin: 5px 0;
      font-size: 18px;
      font-weight: 700;
    }

    input, select {
      outline: none;
    }

    input {
      width: fit-content;
    }
  }

  button {
    margin-top: 30px;
    cursor: pointer;
  }
}